﻿@model IEnumerable<HizmetTalep.Models.HizmetVeren>

@{
    ViewBag.Title = "Çalışanlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Çalışanlar</h2>

<p>
    @Html.ActionLink("Yeni Çalışan", "CalisanOlustur")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HizmetVeren_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HizmetVeren_Soyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HizmetVeren_Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HizmetVeren_Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HizmetVeren_Adres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetVeren_Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetVeren_Soyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetVeren_Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetVeren_Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetVeren_Adres)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "CalisanDuzenle", new { id=item.HizmetVeren_ID }) |
            @Html.ActionLink("Sil", "CalisanSil", new { id = item.HizmetVeren_ID }) |
            
        </td>
    </tr>
}

</table>
