﻿@model HizmetTalep.Models.Duyurular

@{
    ViewBag.Title = "DuyuruOlustur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Duyuru Oluştur</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Duyurular</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Duyuru_Tarih, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duyuru_Tarih)
                @Html.ValidationMessageFor(model => model.Duyuru_Tarih)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duyuru_Aciklama, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duyuru_Aciklama)
                @Html.ValidationMessageFor(model => model.Duyuru_Aciklama)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Anasayfaya Geri Dön", "Index")
</div>
