﻿@model IEnumerable<HizmetTalep.Models.Duyurular>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Duyurular </h2>

<p>
    @Html.ActionLink("Yeni Duyuru Oluştur", "DuyuruOlustur", "Admin")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Duyuru_Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duyuru_Aciklama)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Duyuru_Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duyuru_Aciklama)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "DuyuruDuzenle", new { id = item.Duyuru_ID }) |
                @Html.ActionLink("Sil", "DuyuruSil", new { id = item.Duyuru_ID }) |
            </td>
        </tr>

    }

</table>
