﻿@model HizmetTalep.Models.IstenenHizmet

@{
    ViewBag.Title = "Hizmet Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmetleri Düzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IstenenHizmet_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.IstenenHizmet_Tipi, "IstenenHizmet_Tipi", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IstenenHizmet_Tipi", String.Empty)
                @Html.ValidationMessageFor(model => model.IstenenHizmet_Tipi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HizmetiIsteyen_KisiAdSoyad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HizmetiIsteyen_KisiAdSoyad)
                @Html.ValidationMessageFor(model => model.HizmetiIsteyen_KisiAdSoyad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HizmetiIsteyen_KisiTelefon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HizmetiIsteyen_KisiTelefon)
                @Html.ValidationMessageFor(model => model.HizmetiIsteyen_KisiTelefon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IstenenHizmet_TalepTarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IstenenHizmet_TalepTarihi)
                @Html.ValidationMessageFor(model => model.IstenenHizmet_TalepTarihi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Anasayfaya Geri Dön", "Index")
</div>
