﻿@model IEnumerable<HizmetTalep.Models.IstenenHizmet>

@{
    ViewBag.Title = "Hizmetler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İstenen Hizmetler</h2>

<p>
    @Html.ActionLink("Yeni Hizmet Talep Et", "HizmetOlustur")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HizmetiIsteyen_KisiAdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HizmetiIsteyen_KisiTelefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IstenenHizmet_TalepTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HizmetTur_Tipi.HizmetTur_Adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetiIsteyen_KisiAdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetiIsteyen_KisiTelefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IstenenHizmet_TalepTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetTur_Tipi.HizmetTur_Adi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "HizmetDuzenle", new { id=item.IstenenHizmet_ID }) |
            @Html.ActionLink("Sil", "HizmetSil", new { id = item.IstenenHizmet_ID }) |
            
        </td>
    </tr>
}

</table>
