﻿@model HizmetTalep.Controllers.AdminDuyuru
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success">
            Yönetici paneline hoşgeldiniz. Sistem üzerinden çeşitli değişiklikler yapabilir veya sistem üzerinde gezinebilirsiniz.
        </div>
    </div>

</div>

<h2>Admin Yönetim Paneli Yetkileri</h2>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-two">
            <i class="fa fa-cog dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>

            </div>
            <h5>Hizmetleri Yönetebilirsiniz.</h5>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-two">
            <i class="fa fa-cog dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>

            </div>
            <h5>  Duyuruları Yönetebilirsiniz. </h5>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-three">
            <i class="fa fa-cogs dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                </div>

            </div>
            <h5>  Çalışan Listelerini Yönetebilirsiniz. </h5>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-four">
            <i class="fa fa-search dashboard-div-icon"></i>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                </div>

            </div>
            <h5>Sistemde Gezinebilirsiniz. </h5>
        </div>
    </div>

</div>
<div class="notice-board">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Duyurular</p>
            <div class="pull-right">
                <div class="dropdown">
                </div>
            </div>
        </div>
        <div class="panel-body">
            @foreach (var item in Model.duyuru)
            {
                <ul>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-align-left text-success"></span>
                            @item.Duyuru_Aciklama
                            <span class="label label-warning"> @Html.DisplayFor(modelItem => item.Duyuru_Tarih) </span>
                        </a>
                    </li>
                </ul>
            }
        </div>
        <div class="panel-footer">
            <a href="~/Admin/Index" class="btn btn-default btn-block"> <i class="glyphicon glyphicon-repeat"></i> Sayfayı Yenile</a>
        </div>
    </div>
</div>

