﻿@model IEnumerable<HizmetTalep.Models.Kullanicilar>

@{
    ViewBag.Title = "Kullanıcı";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sistem Kullanıcıları</h2>

<p>
    @Html.ActionLink("Yeni Kullanıcı Oluştur", "KullaniciOlustur")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici_UserName)
        </th>
        <th>
            
            @Html.DisplayNameFor(model => model.Kullanici_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici_Soyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici_Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici_Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici_Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici_KayitTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yetkilendirme.Yetki_Adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici_UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici_Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici_Soyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici_Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici_Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici_Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici_KayitTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yetkilendirme.Yetki_Adi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "KullaniciDuzenle", new { id=item.Kullanici_ID }) |
            @Html.ActionLink("Sil", "KullaniciSil", new { id = item.Kullanici_ID })            
        </td>
    </tr>
}

</table>
