﻿@model HizmetTalep.Models.Kullanicilar

@{
    ViewBag.Title = "Kullanıcı Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcı Oluştur</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Kullanici_UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kullanici_UserName)
                @Html.ValidationMessageFor(model => model.Kullanici_UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kullanici_Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kullanici_Password)
                @Html.ValidationMessageFor(model => model.Kullanici_Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kullanici_Adi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kullanici_Adi)
                @Html.ValidationMessageFor(model => model.Kullanici_Adi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kullanici_Soyadi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kullanici_Soyadi)
                @Html.ValidationMessageFor(model => model.Kullanici_Soyadi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kullanici_Mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kullanici_Mail)
                @Html.ValidationMessageFor(model => model.Kullanici_Mail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kullanici_Adres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kullanici_Adres)
                @Html.ValidationMessageFor(model => model.Kullanici_Adres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kullanici_Telefon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kullanici_Telefon)
                @Html.ValidationMessageFor(model => model.Kullanici_Telefon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kullanici_KayitTarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kullanici_KayitTarihi)
                @Html.ValidationMessageFor(model => model.Kullanici_KayitTarihi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kullanici_YetkiTipi, "Kullanıcı Yetkisi", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Kullanici_YetkiTipi", String.Empty)
                @Html.ValidationMessageFor(model => model.Kullanici_YetkiTipi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Anasayfaya Geri Dön", "Index")
</div>
