﻿@model IEnumerable<HizmetTalep.Models.Sikayetler>

@{
    ViewBag.Title = "ŞİKAYETLER";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ŞİKAYETLER</h2>

<p>
    @Html.ActionLink("Yeni Şikayet Oluştur", "SikayetOlustur","Admin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SikayetYapan_Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sikayet_Tarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sikayet_Aciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SikayetYapan_Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sikayet_Tarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sikayet_Aciklama)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "SikayetDuzenle", new { id = item.Sikayet_ID }) |
            @Html.ActionLink("Sil", "SikayetSil", new { id = item.Sikayet_ID }) |
           
        </td>
    </tr>
}

</table>
