﻿@model HizmetTalep.Models.Sikayetler

@{
    ViewBag.Title = "SikayetOlustur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Şikayet Olustur</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Şikayetler</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SikayetYapan_Mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SikayetYapan_Mail)
                @Html.ValidationMessageFor(model => model.SikayetYapan_Mail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sikayet_Tarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sikayet_Tarihi)
                @Html.ValidationMessageFor(model => model.Sikayet_Tarihi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sikayet_Aciklama, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sikayet_Aciklama)
                @Html.ValidationMessageFor(model => model.Sikayet_Aciklama)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Anasayfaya Geri Dön", "Index")
</div>
