﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Paneli</title>
</head>
@Scripts.Render("~/Scripts/JSAdmin")
@Styles.Render("~/Content/CssAdmin")
<body>

    <!-- HEADER END-->

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


        </div>

        <div class="left-div">
            <div class="user-settings-wrapper">
                <ul class="nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" style="font-size: 25px;"></span>
                        </a>
                        <div class="dropdown-menu dropdown-settings">
                            <div class="media">

                                <div class="media-body">
                                    <h4 class="media-heading">@Session["GirisYapanAdminAdi"] </h4>


                                </div>
                            </div>
                            <hr />
                            <h5><strong>Personel Açıklama: </strong></h5>
                            @if (Convert.ToInt32(Session["YetkiAciklama"]) == 1)
                            {
                                <strong>Admin</strong>
                            }
                            else
                            {
                                <strong>Hata</strong>
                            }

                            <hr />
                            @Html.ActionLink("Çıkış", "LogOff", "Admin")

                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>

    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            @*üst bar navbar statik.*@
                            <li>@Html.ActionLink("ANASAYFA", "Index", "Admin")</li>
                            <li>@Html.ActionLink("DUYURU AYARLARI", "Duyurular", "Admin")</li>
                            <li>@Html.ActionLink("ŞİKAYET AYARLARI", "Sikayetler", "Admin")</li>
                            <li>@Html.ActionLink("ÇALIŞAN AYARLARI", "Calisanlar", "Admin")</li>
                            <li>@Html.ActionLink("HİZMET AYARLARI", "Hizmetler", "Admin")</li>
                            <li>@Html.ActionLink("KULLANICI AYARLARI", "Kullanici", "Admin")</li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Admin</h4>

                </div>

            </div>


            @RenderBody()

            <!-- CONTENT-WRAPPER SECTION END-->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            &copy; 2015 Sakarya Üniversitesi | By : Bilgisayar Ve Bilişim Fakültesi
                        </div>

                    </div>
                </div>
            </footer>
</body>
</html>
