﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">*@
    <title>Hizmet Talep Sistemi </title>
    @*
        <!-- Bootstrap core CSS -->
        <link href="assets/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="assets/css/main.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="assets/js/hover.zoom.js"></script>
        <script src="assets/js/hover.zoom.conf.js"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    *@
    @Styles.Render("~/Content/CssAnasayfa")
    @Scripts.Render("~/Scripts/JSAnasayfa")

</head>
<body>
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">@HizmetTalep.Resources.lang.ITDEPT</a>
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(@HizmetTalep.Resources.lang.Anasayfa, "Index", "Home")</li>
                    <li>@Html.ActionLink(@HizmetTalep.Resources.lang.Hakkimizda, "About", "Home")</li>
                    <li>@Html.ActionLink(@HizmetTalep.Resources.lang.Iletisim, "Contact", "Home")</li>
                    @Html.Partial("_LoginPartial")

                </ul>
            </div><!--/.nav-collapse -->

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            @Html.ActionLink(@HizmetTalep.Resources.lang.Anasayfa, "Index", "Home") &brvbar;
            @Html.ActionLink(@HizmetTalep.Resources.lang.Hakkimizda, "About", "Home") &brvbar;
            @Html.ActionLink(@HizmetTalep.Resources.lang.Iletisim, "Contact", "Home")
            <p>&copy; @DateTime.Now.Year - @HizmetTalep.Resources.lang.HaklariSakli</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
