﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@HizmetTalep.Resources.lang.UyeOl, "Register", "Account",routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        
        @if (Session["Durum"]==null)
        {//Giriş yap çıkış yap olayı.
            <li>@Html.ActionLink(@HizmetTalep.Resources.lang.UyeGiris, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
        else
	    {
            <li>@Html.ActionLink(@HizmetTalep.Resources.lang.Cikis, "LogOff", "Admin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	    }
        <li>@Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
        <li>@Html.ActionLink(@HizmetTalep.Resources.lang.Turkce, "ChangeCulture", "Home", new { lang = "tr", returnUrl = this.Request.RawUrl }, null)</li>
    </ul>
}
