﻿@model HizmetTalep.Models.LoginViewModel

@{
    ViewBag.Title = "Giriş Yap";
}

<h2>@HizmetTalep.Resources.lang.Giris</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.Label(@HizmetTalep.Resources.lang.KullaniciAdi, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(@HizmetTalep.Resources.lang.Sifre, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@HizmetTalep.Resources.lang.Giris" class="btn btn-default" />
                    </div>
                </div>
                <p>
                   @HizmetTalep.Resources.lang.UyelikYokİse @Html.ActionLink(@HizmetTalep.Resources.lang.UyeOl, "Register")
                </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}