﻿@model HizmetTalep.Models.RegisterViewModel

@{
    ViewBag.Title = "Kayıt Ol";
}

<h2>@HizmetTalep.Resources.lang.UyeOl</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    @Html.AntiForgeryToken()
    
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.Label(@HizmetTalep.Resources.lang.KullaniciAdi, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label(@HizmetTalep.Resources.lang.Sifre, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label(@HizmetTalep.Resources.lang.SifreT, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>@*Databasede ekli olanlar alttaki üsttekiler hazır gelenler. *@
    <div class="form-group">
        @Html.Label(@HizmetTalep.Resources.lang.Ad, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Kullanici_Adi, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label(@HizmetTalep.Resources.lang.Soyad, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Kullanici_Soyadi, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label(@HizmetTalep.Resources.lang.Mail, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Kullanici_Mail, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label(@HizmetTalep.Resources.lang.EvAdres, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Kullanici_Adres, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label(@HizmetTalep.Resources.lang.Tel, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Kullanici_Tel, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@HizmetTalep.Resources.lang.Kaydet" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
