﻿@model HizmetTalep.Models.Oneriler

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öneri Kaydet</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OneriYapan_Mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OneriYapan_Mail)
                @Html.ValidationMessageFor(model => model.OneriYapan_Mail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OneriYapim_Tarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OneriYapim_Tarihi)
                @Html.ValidationMessageFor(model => model.OneriYapim_Tarihi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Oneri_Aciklama, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Oneri_Aciklama)
                @Html.ValidationMessageFor(model => model.Oneri_Aciklama)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@HizmetTalep.Resources.lang.Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@HizmetTalep.Resources.lang.Anasayfa, "Index","Home")
</div>
