﻿@model IEnumerable<HizmetTalep.Models.Oneriler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OneriYapan_Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OneriYapim_Tarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oneri_Aciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OneriYapan_Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OneriYapim_Tarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oneri_Aciklama)
        </td>
      
    </tr>
}

</table>
