﻿@{
    ViewBag.Title = @HizmetTalep.Resources.lang.Iletisim;
}
<h2>@ViewBag.Title.</h2>


<address>
    @HizmetTalep.Resources.lang.SauBilgiVeBilisim <br />
    @HizmetTalep.Resources.lang.SauBilgMuh<br />
    <abbr title="@HizmetTalep.Resources.lang.Tel">@HizmetTalep.Resources.lang.Tel:</abbr>
    0 (264) 295 56 57
</address>

<address>
    <strong>@HizmetTalep.Resources.lang.Destek:</strong><a href="mailto:cs@sakarya.edu.tr">cs@Sakarya.edu.tr</a><br />
</address>