﻿@{
    ViewBag.Title = "Anasayfa";
}

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div> -->


<div class="container pt">
    <div class="row mt centered">
        <div class="col-lg-4">
            <a href="~/Hizmet/Create"><img class="img-responsive" src="~/Content/img/portfolio/homePic1.jpg" alt="" /></a>
            <p>@Html.ActionLink(@HizmetTalep.Resources.lang.YeniHizmetIste, "Create", "Hizmet")</p>
        </div>
        <div class="col-lg-4">
            <a href="~/Oneri/Create"><img class="img-responsive" src="~/Content/img/portfolio/homePic2.jpg" alt="" /></a>
            <p>@Html.ActionLink(@HizmetTalep.Resources.lang.Onerileriniz, "Create", "Oneri")</p>
        </div>
        <div class="col-lg-4">
            <a href="~/Sikayet/Create"><img class="img-responsive" src="~/Content/img/portfolio/homePic3.jpg" alt="" /></a>
            <p>@Html.ActionLink(@HizmetTalep.Resources.lang.Sikayetleriniz, "Create", "Sikayet")</p>
        </div>
    </div><!-- /row -->
    <div class="row mt centered">
        <div class="col-lg-4">
            <a href="~/Duyuru/Index"><img class="img-responsive" src="~/Content/img/portfolio/homePic4.jpg" alt="" /></a>
            <p>@Html.ActionLink(@HizmetTalep.Resources.lang.Duyurular,"Index","Duyuru")</p>
        </div>
        <div class="col-lg-4">
            <a href="~/Calisan/Index"><img class="img-responsive" src="~/Content/img/portfolio/homePic5.jpg" alt="" /></a>
            <p>@Html.ActionLink(@HizmetTalep.Resources.lang.CalisanListesi,"Index","Calisan")</p>
        </div>
        <div class="col-lg-4">
            <a href="http://www.sakarya.edu.tr/tr"><img class="img-responsive" src="~/Content/img/portfolio/homePic6.jpg" alt="" /></a>
                <p><a href="http://www.sakarya.edu.tr/tr">@HizmetTalep.Resources.lang.Sau</a></p>
        </div>
       @* <div class="col-lg-4">
        <img class="img-responsive" src="~/Content/img/portfolio/port06.jpg" alt="" />
        <p>link6</p>
        </div>*@ 
    </div><!-- /row -->
</div><!-- /container -->