﻿@model HizmetTalep.Models.HizmetVeren

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HizmetVeren</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HizmetVeren_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HizmetVeren_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HizmetVeren_Soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HizmetVeren_Soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HizmetVeren_Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HizmetVeren_Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HizmetVeren_Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HizmetVeren_Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HizmetVeren_Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HizmetVeren_Adres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HizmetVeren_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
