﻿@model HizmetTalep.Models.HizmetVeren

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>HizmetVeren</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.HizmetVeren_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.HizmetVeren_Adi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HizmetVeren_Adi)
                @Html.ValidationMessageFor(model => model.HizmetVeren_Adi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HizmetVeren_Soyadi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HizmetVeren_Soyadi)
                @Html.ValidationMessageFor(model => model.HizmetVeren_Soyadi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HizmetVeren_Telefon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HizmetVeren_Telefon)
                @Html.ValidationMessageFor(model => model.HizmetVeren_Telefon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HizmetVeren_Mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HizmetVeren_Mail)
                @Html.ValidationMessageFor(model => model.HizmetVeren_Mail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HizmetVeren_Adres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HizmetVeren_Adres)
                @Html.ValidationMessageFor(model => model.HizmetVeren_Adres)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
