﻿@model IEnumerable<HizmetTalep.Models.HizmetVeren>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@HizmetTalep.Resources.lang.CalisanListesi</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HizmetVeren_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HizmetVeren_Soyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HizmetVeren_Telefon)
        </th>
        
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetVeren_Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetVeren_Soyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetVeren_Telefon)
        </td>
        
    </tr>
}
 
</table>

