﻿@model HizmetTalep.Models.IstenenHizmet

@{
    ViewBag.Title = "Kaydet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kaydet</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Hizmet Talep Sistemi</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.IstenenHizmet_Tipi, "Hizmet Türü", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IstenenHizmet_Tipi", String.Empty)
                @Html.ValidationMessageFor(model => model.IstenenHizmet_Tipi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HizmetiIsteyen_KisiAdSoyad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HizmetiIsteyen_KisiAdSoyad)
                @Html.ValidationMessageFor(model => model.HizmetiIsteyen_KisiAdSoyad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HizmetiIsteyen_KisiTelefon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HizmetiIsteyen_KisiTelefon)
                @Html.ValidationMessageFor(model => model.HizmetiIsteyen_KisiTelefon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IstenenHizmet_TalepTarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IstenenHizmet_TalepTarihi)
                @Html.ValidationMessageFor(model => model.IstenenHizmet_TalepTarihi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
