﻿@model HizmetTalep.Models.IstenenHizmet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IstenenHizmet</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HizmetiIsteyen_KisiAdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HizmetiIsteyen_KisiAdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HizmetiIsteyen_KisiTelefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HizmetiIsteyen_KisiTelefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IstenenHizmet_TalepTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IstenenHizmet_TalepTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HizmetTur_Tipi.HizmetTur_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HizmetTur_Tipi.HizmetTur_Adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IstenenHizmet_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
