﻿@model IEnumerable<HizmetTalep.Models.IstenenHizmet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HizmetiIsteyen_KisiAdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HizmetiIsteyen_KisiTelefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IstenenHizmet_TalepTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HizmetTur_Tipi.HizmetTur_Adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetiIsteyen_KisiAdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetiIsteyen_KisiTelefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IstenenHizmet_TalepTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetTur_Tipi.HizmetTur_Adi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IstenenHizmet_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IstenenHizmet_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IstenenHizmet_ID })
        </td>
    </tr>
}

</table>
