﻿@model HizmetTalep.Models.Sikayetler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sikayetler</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SikayetYapan_Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SikayetYapan_Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sikayet_Tarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sikayet_Tarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sikayet_Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sikayet_Aciklama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sikayet_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
