﻿@model IEnumerable<HizmetTalep.Models.Sikayetler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Şikayetler</h2>

<p>
    @Html.ActionLink("Yeni Şikayet Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SikayetYapan_Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sikayet_Tarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sikayet_Aciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SikayetYapan_Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sikayet_Tarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sikayet_Aciklama)
        </td>

    </tr>
}

</table>
