﻿@model IEnumerable<HizmetTalep.Models.Duyurular>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Duyurular </h2>

<p>
  @* @Html.ActionLink(@HizmetTalep.Resources.lang.DuyuruKaydet, "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Duyuru_Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duyuru_Aciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Duyuru_Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duyuru_Aciklama)
        </td>
    </tr>
}

</table>
